.c-heading {

    &--level1 {
        font-size: $font-size-2;
        letter-spacing: $letter-spacing-condensed;

        @include large-up {
            font-size: $font-size-1;
        }
    }

    &--level2 {
        font-size: $font-size-3;
        letter-spacing: $letter-spacing-condensed;
        margin-bottom: $grid-base * .5;

        @include large-up {
            font-size: $font-size-2;
            line-height: .93;
        }
    }

    &--level3 {
        font-size: $font-size-5;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--white {
        color: $white;
    }
}