.c-label {
    display: block;
    font-size: $font-size-5;
    font-weight: bold;
    letter-spacing: $letter-spacing-condensed;
    text-transform: uppercase;

    @include large-up {
        font-size: $font-size-3;
    }
}