.c-list {
    &__icon {
        background: url('../images/angle-right.png') 0 50% no-repeat;
        display: inline-block;
        height: 14px;
        width: 26px;
    }

    &__item {
        line-height: $line-height-lg;
        margin-bottom: $grid-base * 2;

        &__compact {
            margin-bottom: $grid-base * 1.25;
        }
    }

    &--unstyled {
        list-style-type: none;
    }
}