.c-nav {

    &__item {
        display: block;
        font-size: $font-size-7;
        padding-bottom: $grid-base * .75;
        padding-top: $grid-base * .75;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &:hover {
            color: $primary;
        }

        @include large-up {
            display: inline-block;
            margin-left: $grid-base * 2;
            margin-right: $grid-base * 2;
            width: auto;
        }
    }
}