p {
    color: $gray-dark;
    font-size: $font-size-5;
    font-weight: 400;
    line-height: $line-height-lg;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $font-size-6;
    line-height: $line-height-sm;
    margin: 0;
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}