.t-site-header {
    margin-bottom: $grid-base * 2;
    margin-top: $grid-base * 2;

    &__nav-button {
        @include large-up {
            margin-right: 0;
        }
    }

    &__buttons {
        margin-top: $grid-base * 5;
    }

    &__first-button {
        margin-right: $grid-base;
    }

    &__hero {
        padding-bottom: $grid-base * 7;
        padding-top: $grid-base * 4;
    }

    &__hero-image {
        margin-bottom: $grid-base * 3;

        @include medium-up {
            margin-bottom: 0;
        }
    }

    &__intro-text {
        color: $primary;
        font-size: $font-size-4;
        font-weight: bold;
        letter-spacing: $letter-spacing-condensed;
    }

    &__menu {
        margin-top: $grid-base * 2;

        @include large-up {
            margin-top: 0;
            text-align: right;
        }
    }
}