.t-site-footer {

    &__copy {
        background-color: $gray-light;
        color: $primary;
        font-size: $font-size-9;
        padding-bottom: $grid-base * 2.5;
        padding-top: $grid-base * 2.5;
    }

    &__header {
        align-items: flex-end;
        display: flex;
        height: $grid-base * 5;
        margin-bottom: $grid-base * 2;
    }

    &__main {
        padding-bottom: $grid-base * 3;
        padding-top: $grid-base * 4;
    }
}