// Kolory
$white: #FFFFFF;
$black: #000000;
$gray: #C2C2C2;
$gray-light: #F8F8F8;
$gray-dark: #898989;
$gray-very-dark: #444444;
$blue-dark: #3E5CC5;
$blue-light: #D3EAFA;
$blue-text: #3B99E1;
$accent: #FFA40B;

$primary: #4F5D6F;
$primary-light: #7487A2;

$blue-gradient: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
$yellow-gradient: linear-gradient(0deg, #EBCB55 0%, #F8DB7E 100%);

// Tekst
$font-size-base: 1rem;
$font-size-1: $font-size-base * 3.75; // ~60px
$font-size-2: $font-size-base * 2.69; // ~43px
$font-size-3: $font-size-base * 1.875; // ~30px
$font-size-4: $font-size-base * 1.5; // ~24px
$font-size-5: $font-size-base * 1.125; // ~18px
$font-size-6: $font-size-base * 1; // ~16px
$font-size-7: $font-size-base * .875; // ~14px 
$font-size-8: $font-size-base * .75; // ~12px
$font-size-9: $font-size-base * .625; // ~10px

$line-height-base: 1.2;
$line-height-sm: 1.2;
$line-height-lg: 1.5;

$letter-spacing-condensed: -.025rem;

// Siatka
$grid-base: 10px;
$gutter: $grid-base * 1.5;

// Zaokroglenia
$border-radius: $grid-base * .5;

// Breakpoint
$bp-medium: '800px';
$bp-large: '1200px';