// From medium up
@mixin medium-up {
    @media (min-width: #{$bp-medium}) {
        @content
    }
}

// From large up
@mixin large-up {
    @media (min-width: #{$bp-large}) {
        @content
    }
}